{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	{{ parent() }}
	<style type="text/css">
		table {
			width: auto;
			border-collapse: collapse;
		}

		th,
		td {
			border: 1px solid #ddd;
			padding: 8px;
			text-align: left;
		}

		th {
			background-color: #f2f2f2;
		}

		tr:nth-child(even) {
			background-color: #f2f2f2;
		}
	</style>
{% endblock %}
{% block title %}
	Epreuve


{% endblock %}
{% block content %}
	{% for type, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
				{{ message }}
			</div>
			<script>
				setTimeout(function () {
document.querySelector('.alert').remove();
}, 2000);
			</script>
		{% endfor %}
	{% endfor %}

	<section class="container my-3">
		<div name="epreuve">
			<h1>
				L'épreuve

			</h1>
			<div style="display: flex; flex-direction: column;">
				<p>
					Nom :


					{{ epreuve.nom }}
				</p>
				<p>
					Commentaires :


					{{ epreuve.commentaire }}
				</p>
			</div>
		</div>
		<div name="obstacle">
			<h1>
				Liste des obstacles de l'épreuve

			</h1>
			<table>
				<thead>
					<tr>
						<th>
							Nom
						</th>
						<th colspan="2">
							Action
						</th>
					</tr>
				</thead>
				<tbody>

					{% for obstacle in obstacles %}
						<tr>
							<td>
								{{ obstacle.nom }}
							</td>
							<td>
								<a href="{{ path('obstacle', {'id': obstacle.id}) }}" class="btn btn-primary">
									Acceder à l'obstacle
								</a>
							</td>
							<td>
								{% if is_granted('ROLE_USER') %}
									<a href="{{ path('removeObsEpre', {'id': obstacle.id, 'idepr': epreuve.id}) }}" class="btn btn-danger">
										Supprimer l'obstacle
									</a>
								{% endif %}
							</td>
						</tr>

					{% endfor %}
				</tbody>
			</table>
			<br>
			{% if is_granted('ROLE_USER') %}
				<button id="add-obstacle-btn" class="btn btn-primary">
					Ajouter un obstacle à l'épreuve
				</button>
			{% endif %}
			<form id="add-obstacle-form" method="post" action="{{ path('addObsEpre', {'idepr': epreuve.id}) }}" style="display:none;">
				<select name="obstacle_nom">
					{% for o in obstacle %}
						<option value="{{ o.id }}">{{ o.nom }}</option>
					{% endfor %}
				</select>
				<button type="submit">
					Ajouter
				</button>
			</form>
		</div>
	</section>
{% endblock %}
{% block scripts %}
	{{ parent() }}
	<script>
		$(document).ready(function () {
$("#add-obstacle-btn").click(function () {
$("#add-obstacle-form").fadeIn();
});

$('#add-obstacle-form button[type="submit"]').click(function () {
$("#add-obstacle-form").fadeOut();
});
});
// ----------------------------------------------------------//
$(document).ready(function () {
$(".alert-success").fadeTo(2000, 500).slideUp(500, function () {
$(".alert-success").slideUp(500);
});
});
	</script>
{% endblock %}