{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	{{ parent() }}
	<style type="text/css">
		table {
			width: 100%;
			border-collapse: collapse;
		}

		th,
		td {
			border: 1px solid #ddd;
			padding: 8px;
			text-align: left;
		}

		th {
			background-color: #f2f2f2;
		}

		tr:nth-child(even) {
			background-color: #f2f2f2;
		}
	</style>
{% endblock %}
{% block title %}
	Competition
{% endblock %}

{% block content %}
	{% for type, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
				{{ message }}
			</div>
			<script>
				setTimeout(function () {
document.querySelector('.alert').remove();
}, 2000);
			</script>
		{% endfor %}
	{% endfor %}

	<section class="container my-3">
		<div class="row">
			<table>
				<tr>
					<th>
						Nom
					</th>
					<th>
						Date
					</th>
					<th>
						Ville
					</th>
					<th>
						Code Postal
					</th>
					<th>
						Adresse
					</th>
					<th colspan="3">
						Actions
					</th>
				</tr>
				<tr>
					{% for value in plans %}
						<tr>
							<td>
								{{ value.nom }}
							</td>
							<td>
								{{ value.date ? value.date.format('Y-m-d') : '' }}
							</td>
							<td>
								{{ value.ville }}
							</td>
							<td>
								{{ value.cp }}
							</td>
							<td>
								{{ value.adresse }}
							</td>
							<td>
								<a href="{{ path('compet', {'id': value.id}) }}" class="btn btn-primary">
									Acceder a la competition
								</a>
							</td>
							{% if is_granted('ROLE_USER') %}
								<td>
									<a href="{{ path('changerCompet', {'id': value.id}) }}" class="btn btn-warning">
										Changer la competition
									</a>
								</td>
								<td>
									<a href="{{ path('deleteCompet', {'id': value.id}) }}" class="btn btn-danger">
										Supprimer a la competition
									</a>
								</td>
							{% endif %}

						</tr>
					{% endfor %}
				</tr>
			</table>
			<hr>
			{% if is_granted('ROLE_USER') %}
				<a href="{{ path('newCompet') }}" class="btn btn-success">
					Créer une competition
				</a>
			{% endif %}
		</div>
	</section>
{% endblock %}
