{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/inscription.css">
            {{ parent() }}
        {% endblock %}
        {% block title %}
            Competition
        {% endblock %}

        {% block content %}
            <section class="container my-3">
                <div class="row">
                    <table>
                        <tr>
                            <th>
                                Nom                        
                            </th>
                            <th>
                                Date                       
                            </th>
                            <th>
                                Ville                
                            </th>
                            <th>
                                Code Postal
                            </th>
                            <th>
                                Adresse
                            </th>
                        </tr>
                        <tr>
                            {% for value in plans %}
                                <tr>
                                    <td>
                                        {{ value.nom }}
                                    </td>
                                    <td>
                                        {{ value.date ? value.date.format('Y-m-d') : '' }}
                                    </td>
                                    <td>
                                        {{ value.ville }}
                                    </td>
                                    <td>
                                        {{ value.cp }}
                                    </td>
                                    <td>
                                        {{ value.adresse }}
                                    </td>
                                    <td>
                                        <a href="{{ path('compet', {'id': value.id}) }}" class="btn btn-primary">
                                            Acceder a la competition
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ path('changerCompet', {'id': value.id}) }}" class="btn btn-warning">
                                            Changer la competition
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ path('deleteCompet', {'id': value.id}) }}" class="btn btn-danger">
                                            Supprimé la competition
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tr>
                    </table>
                    <a href="{{ path('newCompet') }}" class="btn btn-success">
                        Créer une competition
                    </a>
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success" role="alert">
                            <h4 class="alert-heading">
                                Bien joué!
                            </h4>
                            <p>
                                Compétition créée avec succès 
                            </p>
                            <hr>
                                <p class="mb-0">
                                    Vous pourrez maintenant avoir accès au contenu de notre site quand vous le voulez.
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                </section>
            {% endblock %}