<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block stylesheets %}
        <link rel="shortcut icon" href="/img/MonLogo.jpg"/>
        <link rel="stylesheet" href="/css/header.css">
    {% endblock %}
    <title>{% block title %}Accueil Equitrec{% endblock %}</title>
    <nav>
        <a href="{{ path('accueil') }}"><img src="{{ asset('img/MonLogo.jpg') }}" alt="Accueil" style="width: 80px; height: 80px; border-radius: 50%;"></a>
        <a href="{{ path('competition') }}">Competition</a>
        <a {#href="{{ path('sport_select') }}"#}>Services</a>
        <a {#href="{{ path('sport_select') }}"#}>Contact</a>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a style="background-color: #baf3ff;" href="{{ path('compte') }}">Mon Compte</a>
            <a href="{{ path('app_logout') }}">Déconnexion</a>
        {% else %}
            <a href="{{ path('app_login') }}">Connexion</a>
        {% endif %}
    </nav>
</head>
<body>
    {% block content %}
        {# Le contenu de chaque page sera ici #}
    {% endblock %}


    {% block scripts %}
        {# jQuery first, then Popper.js, then Bootstrap JS #}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% endblock %}
</body>

</html>