{% extends "base.html.twig" %}
{% block stylesheets %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	{{ parent() }}
	<style>
		main {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		table {
			border-collapse: collapse;
			width: 100%;
			font-size: 16px;
			border-radius: 2px;
		}

		th,
		td {
			border: 1.5px solid #ccc;
			padding: 10px;
			text-align: left;
		}

		th {
			background-color: #f2f2f2;
			font-weight: bold;
		}

		tr:nth-child(even) {
			background-color: #f9f9f9;
		}
	</style>
{% endblock %}
{% block content %}
	<main>
		<div>
			<h2>Résultats des cavaliers par obstacles</h2>

			<table>
				<thead>
					<tr>
						<th>Dossard</th>
						<th>Contrat</th>
						<th>Style</th>
						<th>Allures</th>
						<th>Pénalité</th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody>
					{% for valeurs in data %}
						<tr>
							<td>{{ valeurs.dossard }}</td>
							{% set contrat = '' %}
							{% set style = '' %}
							{% set allures = '' %}
							{% set penalite = '' %}
							{% for key in valeurs.notes %}
								{% if (key.Libelle_Type_Note is defined) and (key.Libelle_Type_Note == "Contrat") %}
									{% set contrat = key.Val[0] %}
								{% elseif (key.Libelle_Type_Note is defined) and (key.Libelle_Type_Note == "Style") %}
									{% set style = key.Val[0] %}
								{% elseif (key.Libelle_Type_Note is defined) and (key.Libelle_Type_Note == "Allures") %}
									{% set allures = key.Val[0] %}
								{% endif %}
								{% if key.Pénalité is defined %}
									{% set penalite = key.Pénalité[0] %}
								{% endif %}
							{% endfor %}
							<td>{{ contrat }}</td>
							<td>{{ style }}</td>
							<td>{{ allures }}</td>
							<td>{{ penalite }}</td>
							<td>{{ totals[valeurs.dossard] }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<br>
			<center><input type="button" onclick="location.href='{{ path('app_note_competition') }}';" value="Afficher les notes de la compétition"  class="btn btn-primary"/></center>
		</div>
	</main>
{% endblock %}
