{% extends 'base.html.twig' %}

{% block title %}Notes Total
{% endblock %}

<div class="row">
	<table>
		<tr>
			<th>
				Dossard
			</th>
			<th>
				Total
			</th>
		</tr>
		<tr>
			{% for value in notesTotal %}
				<tr>
					<td>
						{{ value.id }}
					</td>
					<td>
						{{ value.commentaire }}
					</td>
					<td>
						<a href="{{ path('epreuve', {'id': value.id}) }}" class="btn btn-primary">
							Acceder à l'épreuve

						</a>
					</td>
					<td>
						<a href="{{ path('changerEpreuve', {'id': value.id}) }}" class="btn btn-warning">
							Changer l'épreuve

						</a>
					</td>
					<td>
						<a href="{{ path('deleteEpreuve', {'id': value.id}) }}" class="btn btn-danger">
							Supprimé l'épreuve

						</a>
					</td>
				</tr>
			{% endfor %}
		</tr>
	</table>
</div>
{% endblock %}
{% block content %}
	<main>
		<div class="col-md-12">
			<h2>Accueil en cour de creation...</h2>
			<img src="{{ asset('img/Back.jpg') }}" alt="Accueil" style="width: 100%; height: 100%;">
		</div>
	</main>
{% endblock %}
